<div>
    Yaay! Old MacDonald lets you add some animals to his weird collection. Cool, right?
</div>
<small class="wrapper-margin">
    Only animals with both names and sounds can be added to the parade of animal chaos.
</small>
<!--Save button-->
<div class="mb-4 mt-4">
    <button
            class="btn btn-info"
            type="button"
            (click)="saveAnimals()">
        Save animals
    </button>
</div>
<div class="row">
    <div class="col-sm-4">
        <!--Animal 1-->
        <div class="mb-4">
            <label for="firstAnimalName">Animal 1</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text"
                       class="form-control"
                       #firstAnimalName
                       id="firstAnimalName"
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sound</span>
                </div>
                <input type="text"
                       class="form-control"
                       #firstAnimalSound
                       id="firstAnimalSound"
                />
            </div>
        </div>
        <!--Animal 2-->
        <div class="mb-4">
            <label for="secondAnimalName">Animal 2</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text"
                       class="form-control"
                       #secondAnimalName
                       id="secondAnimalName"
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sound</span>
                </div>
                <input type="text"
                       class="form-control"
                       #secondAnimalSound
                       id="secondAnimalSound"
                />
            </div>
        </div>
        <!--Animal 3-->
        <div class="mb-4">
            <label for="thirdAnimalName">Animal 3</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text"
                       class="form-control"
                       #thirdAnimalName
                       id="thirdAnimalName"
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sound</span>
                </div>
                <input type="text"
                       class="form-control"
                       #thirdAnimalSound
                       id="thirdAnimalSound"
                />
            </div>
        </div>
        <!--Animal 4-->
        <div class="mb-4">
            <label for="fourthAnimalName">Animal 4</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text"
                       class="form-control"
                       #fourthAnimalName
                       id="fourthAnimalName"
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sound</span>
                </div>
                <input type="text"
                       class="form-control"
                       #fourthAnimalSound
                       id="fourthAnimalSound"
                />
            </div>
        </div>
        <!--Animal 5-->
        <div>
            <label for="fifthAnimalName">Animal 5</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text"
                       class="form-control"
                       #fifthAnimalName
                       id="fifthAnimalName"
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sound</span>
                </div>
                <input type="text"
                       class="form-control"
                       #fifthAnimalSound
                       id="fifthAnimalSound"
                />
            </div>
        </div>
    </div>
</div>
